/*
DOC
*/

@font-face {
  font-family: "Monocraft";
  src: local("Monocraft"), url("Monocraft.woff2") format("woff2"),
    url("Monocraft.woff") format("woff"),
    url("Monocraft.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft Ten";
  src: url("MinecraftTenv2-Regular.woff2") format("woff2"),
    url("MinecraftTenv2-Regular.woff") format("woff"),
    url("MinecraftTenv2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minecraft Five";
  src: url("MinecraftFivev2-Bold.woff2") format("woff2"),
    url("MinecraftFivev2-Bold.woff") format("woff"),
    url("MinecraftFivev2-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minecraft Five";
  src: url("MinecraftFivev2-Regular.woff2") format("woff2"),
    url("MinecraftFivev2-Regular.woff") format("woff"),
    url("MinecraftFivev2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --white-light: #e6e3e6;
  --white-tone: #ced2d6;
  --white-dark: #5a595a;
  --black-light: #5a595a;
  --black-tone: #4a494a;
  --black-dark: #2e2e2e;
  --font: #2e2e2e;

  --outline: #211c21;

  --success-light: #639e52;
  --success-tone: #3a8529;
  --success-dark: #214d10;

  --danger-light: #e05050;
  --danger-tone: #d2052b;
  --danger-dark: #5c0000;

  --warning-light: #ffe063;
  --warning-tone: #ffcc00;
  --warning-dark: #cc9901;

  --info-light: #5aa9ff;
  --info-tone: #007bff;
  --info-dark: #0056b3;

  --base-light: #e6e3e6;
  --base-tone: #ced2d6;
  --base-dark: #5a595a;
  --bg-tone: #ced2d6;

  --font-interaction: "Minecraft Five", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans-serif: var(--bs-font-sans-serif);
  --bs-font-monospace: "Minecraft Ten", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-border-radius: 0;
  --bs-font-sans-serif: "Monocraft", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-link-hover-color-rgb: var(--base-light);
}

.dark {
  --base-light: #5a595a;
  --base-tone: #4a494a;
  --bg-tone: #5a595a;
  --base-dark: #2e2e2e;
  --font: #ced2d6;
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 5h2v2H5zm4 4H7V7h2zm2 2H9V9h2zm2 0h-2v2H9v2H7v2H5v2h2v-2h2v-2h2v-2h2v2h2v2h2v2h2v-2h-2v-2h-2v-2h-2zm2-2v2h-2V9zm2-2v2h-2V7zm0 0V5h2v2z' /%3E%3C/svg%3E");
}

.modal-title {
  font-family: var(--font-sans-serif);
  font-size: 2rem;
  color: var(--font);
}

.btn-primary,
.btn-secondary,
.btn-danger,
.btn-warning,
.btn-info,
.btn-success,
.btn-dark,
.btn-light,
.btn:hover {
  --bs-btn-color: none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: unset;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: #none;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  box-shadow: none;
  font-family: var(--font-interaction);
  color: #ced2d6;
  cursor: pointer;
  padding: 0 4px;
  text-decoration: none;
}

body {
  background-color: var(--bg-tone);
}

.toast-header {
  font-family: var(--font-interaction);
  color: var(--font)
}

.outline {
  outline: 4px solid var(--outline);
  border-bottom: 8px solid var(--base-dark);
}

.card,
.alert,
.dropdown-menu,
.toast {
  padding: 1rem;
  background-color: var(--base-tone);
  outline: 4px solid var(--outline);
  border-block: 4px solid var(--base-light);
  border-radius: 0;
  box-shadow: none;
  color: var(--font);
  --bs-dropdown-border-color: none;
  --bs-dropdown-link-hover-bg: var(--base-light);
  --bs-toast-border-color: none;
  --bs-toast-header-bg: var(--base-light);
}

.modal-content {
  text-decoration: none;
  color: var(--font);
  background-color: var(--base-tone);
  cursor: pointer;
  border: none;
  padding: 0 4px;
  border-radius: 0;
  box-shadow: none;
}

.accordion {
  background-color: var(--base-tone);
  border-block: 4px solid var(--base-light);
  border-radius: 0;
  box-shadow: none;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7 8H5v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2V8h-2v2h-2v2h-2v2h-2v-2H9v-2H7z' /%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7 8H5v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2V8h-2v2h-2v2h-2v2h-2v-2H9v-2H7z' /%3E%3C/svg%3E");
}

.accordion-button {
  background-color: var(--base-tone);
  outline: 4px solid var(--base-light);
  color: var(--font);
  border-radius: 0;
  font-family: var(--font-interaction);
  font-size: 2rem;
}

.accordion-button:focus {
  box-shadow: none;
  outline: 4px solid var(--base-tone);
}

.accordion-item {
  border: 0;
}

.accordion-button:not(.collapsed) {
  background-color: var(--base-tone);
  outline: 4px solid var(--base-light);
  color: var(--font);
  border-radius: 0;
  box-shadow: none;
}

.accordion-body {
  border-radius: 0;
  background-color: var(--base-tone);
  color: var(--font);
}

.navbar {
  margin-block: 4px;
  background-color: var(--base-tone);
  outline: 4px solid var(--base-light);
  cursor: pointer;
  color: var(--font);
}

.outline-success {
  outline: 4px solid var(--outline);
  line-height: normal;
  border-bottom: 8px solid var(--success-dark);
  padding: 4px;
  border-radius: 0;
  display: inline-block;
  background-color: var(--success-light);
}
.btn-success,
.btn-primary {
  background-color: var(--success-tone);
  outline: 4px solid var(--success-light);
}

.btn-success:hover,
.btn-primary:hover,
.btn-success:focus,
.btn-primary:focus {
  background-color: var(--success-tone);
  color: var(--font);
}

.card-success,
.alert-success,
.modal-content-sucess,
.accordion-success {
  padding: 1rem;
  background-color: var(--success-tone);
  outline: 4px solid var(--outline);
  border-block: 4px solid var(--success-light);
  border-radius: 0;
  color: var(--base-tone);
}

.outline-danger {
  outline: 4px solid var(--outline);
  line-height: normal;
  border-bottom: 8px solid var(--danger-dark);
  padding: 4px;
  border-radius: 0;
  display: inline-block;
  background-color: var(--danger-light);
}

.btn-danger {
  background-color: var(--danger-tone);
  outline: 4px solid var(--danger-light);
}

.card-danger,
.alert-danger,
.modal-content-danger,
.accordion-danger {
  padding: 1rem;
  background-color: var(--danger-tone);
  outline: 4px solid var(--outline);
  border-block: 4px solid var(--danger-light);
  border-radius: 0;
}

.outline-warning {
  outline: 4px solid var(--outline);
  line-height: normal;
  border-bottom: 8px solid var(--warning-dark);
  padding: 4px;
  border-radius: 0;
  display: inline-block;
  background-color: var(--warning-light);
}

.btn-warning {
  color: var(--white-dark);
  background-color: var(--warning-tone);
  outline: 4px solid var(--warning-light);
}

.card-warning,
.alert-warning,
.modal-content-warning,
.accordion-warning {
  padding: 1rem;
  background-color: var(--warning-tone);
  outline: 4px solid var(--outline);
  border-block: 4px solid var(--warning-light);
  border-radius: 0;
  color: var(--white-dark);
}

.outline-info {
  outline: 4px solid var(--outline);
  line-height: normal;
  border-bottom: 8px solid var(--info-dark);
  padding: 4px;
  border-radius: 0;
  display: inline-block;
  background-color: var(--info-light);
}

.btn-info {
  background-color: var(--info-tone);
  outline: 4px solid var(--info-light);
}

.card-info,
.alert-info,
.modal-content-info,
.accordion-info {
  padding: 1rem;
  background-color: var(--info-tone);
  outline: 4px solid var(--outline);
  border-block: 4px solid var(--info-light);
  border-radius: 0;
}

.outline-dark {
  outline: 4px solid var(--outline);
  line-height: normal;
  border-bottom: 8px solid var(--black-dark);
  padding: 4px;
  border-radius: 0;
  display: inline-block;
  background-color: var(--black-light);
}
.btn-dark,
.btn-secondary {
  background-color: var(--black-tone);
  outline: 4px solid var(--black-light);
}

.card-dark,
.alert-dark,
.modal-content-dark,
.accordion-dark {
  padding: 1rem;
  background-color: var(--black-tone);
  outline: 4px solid var(--outline);
  border-block: 4px solid var(--black-light);
  border-radius: 0;
  color: var(--white-tone);
}

.outline-light {
  outline: 4px solid var(--outline);
  line-height: normal;
  border-bottom: 8px solid var(--white-dark);
  padding: 4px;
  border-radius: 0;
  display: inline-block;
  background-color: var(--white-light);
}
.btn-light {
  color: var(--white-dark);
  background-color: var(--white-tone);
  outline: 4px solid var(--white-light);
  
}

.card-light,
.alert-light,
.modal-content-light,
.accordion-light {
  padding: 1rem;
  background-color: var(--white-tone);
  outline: 4px solid var(--outline);
  border-block: 4px solid var(--white-light);
  border-radius: 0;
  color: var(--black-tone);
}